# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# eclipse settings
.cproject
.settings
.project

# waf generated stuff
.waf*
.lock-waf*
__build__
flex.pyc

# build directory
make
build

# qtcreator project
CMakeLists.txt.user

# hidden sources
*._cpp
*._h
*._py
*~
__pycache__

# Tubes serialization files
*.codac

# Documentation files
doc/doxygen/html/*
doc/doxygen/xml/*

# CMake files
build/
build_*/
build-*/

# Latex files
*.aux
*.log
*.dot
wheelhouse/

# VSCode files
*.vscode
.idea/