# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# eclipse settings
.cproject
.settings
.project

# waf generated stuff
.waf*
.lock-waf*
__build__
flex.pyc

# ibex generated obj
# 3rd
# lib
# include
# share
# bin
# newdoc/_build

# build directory
build
build_win
build_win32

#examples
src/wip
# git conflict files

# qtcreator project
CMakeLists.txt.user

# hidden sources
*._cpp
*._h
*._py
*~
__pycache__

# atom project
.ropeproject/*

# wheelhouse
wheelhouse/*
*.whl

build_dir/**